from typing import Any

def __getattr__(name: str) -> Any:
    """遅延インポートを実現するための属性解決ハンドラ。"""
    if name == "{workflow_module_name}":
        from .handler import {workflow_module_name}
        return {workflow_module_name}

    raise AttributeError(f"module '{__name__}' has no attribute '{name}'")

__all__ = ["{workflow_module_name}"]
