"""
{workflow_name} の Workflow オブジェクト定義。
ADK 2.0 に準拠した接続定義。
"""
from google.adk import Workflow

{node_imports}

root_workflow = Workflow(
    name="{workflow_module_name}",
    edges=[
        {edges}
    ]
)
