from google.adk.tools import ToolContext
from .handler import Input

def process_message(params: Input, tool_context: ToolContext) -> str:
    """
    ここにビジネスロジックを実装します。
    """
    # TODO: ビジネスロジックを実装してください。
    return "Success"
